@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
 
:root
   {
      --primary-color: rebeccapurple;
      --dark-gray: rgb(65, 64, 61);
   }

 body
   {
      font-family: 'Source Serif Pro', serif;   
   }
     
   /* containers */

 .container
   {
      padding: 0rem 1rem;
   }

.container-center
   {
      max-width: 600px;
      margin: auto;
   }

/* links */

.link
   {
      text-decoration: none;
      padding: 0.5rem 1rem;
   }

.primary-link
   {
      background-color: var(--primary-color);
      border-radius: 0.5rem;
      color: white;
   }

.secondary-link
   {
      color: var(--primary-color);
      border-radius: 0.5rem;
      border: 1px solid var(--primary-color);
   }

hr 
   {
      margin: 2rem 0rem;
   }

      /* lists */

.list-non-bullet
   {
      list-style: none;
   }

.list-item-inline
   {
      display: inline;
      padding: 0rem 0.5rem;
   }

   /* navbar */

.navigation
   {
      background-color: var(--primary-color);
      color: white;
      padding: 1rem;
     border-bottom-left-radius: 1rem;
   }
   
.navigation .link
   {
      color: white;
   }

.navigation .nav-pills
   {
      text-align: right;
   }

.navigation .nav-brand
   {
      font-weight: bolder;
      font-size: 1.1rem;
   }

.navigation .link-active
   {
      font-weight: bold;
   }

   /* header */

.hero 
   {
      padding: 2rem;
   }

.hero .hero-img
   {
      max-width: 350px;
      display: block;
      margin: auto;
   }

.hero .hero-heading
   {
      padding-top:1rem ;
      text-align: center;
      color: var(--dark-gray);
   }

.hero .hero-heading .heading-inverted
   {
      color: var(--primary-color);
   }